<html>
  <head>
    <title>JRuby-lint diagnostics report</title>
    <style>
ul { padding: 0px; }
li { list-style: none; margin: 0px; padding: 0px; display: list-item; }
body { font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; font-size:10.5pt; margin: 0; }

h1 { color: #383838; font-size: 4em; }
p { color: #383838; font-size: 1.8em; }
.site { width: 70em; margin: 0 auto; padding: .1em 5em; }
nav { position: relative; }
#findings li { position: relative; padding: .5em 1em; margin-top: .3em; }
#congrats { padding-top: 2em; }
.message { border-left: 5px solid silver; background: #EEE; }
.error { border-left: 5px solid #b22222; background: #E6BCB5; }
.warning { border-left: 5px solid #FF9900; background: #FFFF99; }
    </style>
  </head>
  <body>
    <a href="http://github.com/jruby/jruby-lint"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
    <div class="site">
      <nav>
        <h1>JRuby diagnostics</h1>
      </nav>
      <div id="findings">
        <% unless @findings.empty? %>
        <ul>
          <% @findings.each do |finding| %>
            <% if finding.error? %>
              <li class="error"><%= finding %></li>
            <% elsif finding.warning? %>
              <li class="warning"><%= finding %></li>
            <% else %>
              <li class="message"><%= finding %></li>
            <% end %>
          <% end %>
        </ul>
        <% else %>
        <div id="congrats">
          <p>Congratulations!</p>
          <p>We didn't find any issue and your application should run just fine with JRuby.</p>
        </div> <!-- div#congrats -->
        <% end %>
      </div> <!-- div#findings -->
    </div> <!-- div.site -->
  </body>
</html>
